.nav-title {
  color: white !important;
  margin-left: 0.25rem;
}

.nav-title:hover {
  color: bisque !important;
}

.navbar {
  padding: 0.1rem 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.navbutton {
  margin-bottom: 1.5rem;
}

.content {
  padding: 0.5rem 2rem;
  min-height: 100vh;
}